# Handling missing value example

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sns
%matplotlib inline 


from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# 1&2. load the data set  Mark Missing Values

In [34]:
df = pd.read_csv("D:\Data Science\Dataset\pima-indians-diabetes.csv", header=None)
df.describe()

,0,1,2,3,4,5,6,7,8
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [35]:
# getting the null value count in every column
(df[[1,2,3,4,5,6,7,8]]==0).sum()

1      5
2     35
3    227
4    374
5     11
6      0
7      0
8    500
dtype: int64

In [36]:
# mark 0 values as missing or NaN
df[[1,2,3,4,5,6,7,8]] = df[[1,2,3,4,5,6,7,8]].replace(0, np.NaN)

# count the number of NaN value in each column
df.isnull().sum()

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8    500
dtype: int64

In [37]:
df.head(20)

     0      1     2     3      4     5      6   7    8
0    6  148.0  72.0  35.0    NaN  33.6  0.627  50  1.0
1    1   85.0  66.0  29.0    NaN  26.6  0.351  31  NaN
2    8  183.0  64.0   NaN    NaN  23.3  0.672  32  1.0
3    1   89.0  66.0  23.0   94.0  28.1  0.167  21  NaN
4    0  137.0  40.0  35.0  168.0  43.1  2.288  33  1.0
5    5  116.0  74.0   NaN    NaN  25.6  0.201  30  NaN
6    3   78.0  50.0  32.0   88.0  31.0  0.248  26  1.0
7   10  115.0   NaN   NaN    NaN  35.3  0.134  29  NaN
8    2  197.0  70.0  45.0  543.0  30.5  0.158  53  1.0
9    8  125.0  96.0   NaN    NaN   NaN  0.232  54  1.0
10   4  110.0  92.0   NaN    NaN  37.6  0.191  30  NaN
11  10  168.0  74.0   NaN    NaN  38.0  0.537  34  1.0
12  10  139.0  80.0   NaN    NaN  27.1  1.441  57  NaN
13   1  189.0  60.0  23.0  846.0  30.1  0.398  59  1.0
14   5  166.0  72.0  19.0  175.0  25.8  0.587  51  1.0
15   7  100.0   NaN   NaN    NaN  30.0  0.484  32  1.0
16   0  118.0  84.0  47.0  230.0  45.8  0.551  31  1.0
17   7  107.0  74.0   NaN    NaN  29.6  0.254  31  1.0
18   1  103.0  30.0  38.0   83.0  43.3  0.183  33  NaN
19   1  115.0  70.0  30.0   96.0  34.6  0.529  32  1.0

# 3. Missing Values Causes Problems

In [38]:
# marks the missing values in the dataset, as we did in the previous section, then attempts to evaluate
# LDA( Linear Discriminant Analysis) using 3-fold cross validation and print the mean accuracy.


# split the dataset into input and output
values = df.values
values

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,     nan],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,     nan],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,     nan]])

In [39]:
x = values[:,0:8] # every row as list of 8 columns
y= values[:,8] # entire column as list

In [40]:
# evaluate an LDA model on the dataset using k-fold cross validation
model = LinearDiscriminantAnalysis()
kfold = KFold(n_splits=3, random_state=7)
result = cross_val_score(model, x,y,cv=kfold,scoring='accuracy')
result.mean()

C:\Users\Diwakar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:530: FutureWarning: From version 0.22, errors during fit will result in a cross validation score of NaN by default. Use error_score='raise' if you want an exception raised or error_score=np.nan to adopt the behavior from version 0.22.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').
    
This is as we expect.
We are prevented from evaluating an LDA algorithm (and other algorithms) on the dataset with missing values.
Now, we can look at methods to handle the missing values.

# 4. Remove Rows With Missing Values

In [41]:
# drop rows with missing values
df.dropna(inplace=True)
print(df.isnull().sum()) # cross verify 

# summarize the number of rows and columns in the dataset
df.shape

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64

(130, 9)

Running this example, we can see that the number of rows has been aggressively cut from 768 in the original dataset to 392 with all rows containing a N

We now have a dataset that we could use to evaluate an algorithm sensitive to missing values like LDA.

In [42]:
# evaluate an LDA model on the dataset using k-fold cross validation

values = df.values

x = values[:,0:8] # every row as list of 8 columns
y= values[:,8] # entire column as list

model = LinearDiscriminantAnalysis()
kfold = KFold(n_splits=3, random_state=7)
result = cross_val_score(model, x,y,cv=kfold,scoring='accuracy')
print("result : ",result)
print("result mean : ",result.mean())

result :  [1. 1. 1.]
result mean :  1.0

C:\Users\Diwakar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:402: RuntimeWarning: invalid value encountered in true_divide
  S**2))[:self._max_components]
C:\Users\Diwakar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:402: RuntimeWarning: invalid value encountered in true_divide
  S**2))[:self._max_components]
C:\Users\Diwakar\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:402: RuntimeWarning: invalid value encountered in true_divide
  S**2))[:self._max_components]

# 5. Impute Missing Values
       Imputing refers to using a model to replace missing values.

In [49]:
df1 = pd.read_csv("D:\Data Science\Dataset\pima-indians-diabetes.csv", header=None)
df1[[1,2,3,4,5,6,7,8]] = df1[[1,2,3,4,5,6,7,8]].replace(0,np.NaN)
df1.fillna(df.mean(), inplace =True)

df1.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
dtype: int64